.section.banner-carrossel {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.banner-carrossel-conteudo {
    width: 400%;
    height: auto;
    display: flex;
}

.banner-carrossel-conteudo input {
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img {
    width: 100%;
}

.navegacao-manual, .navegacao-auto {
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}

.navegacao-manual .manual-btn, .navegacao-auto div {
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.navegacao-manual .manual-btn:not(:last-child),
.navegacao-auto div:not(:last-child) {
    margin-right: 10px;
}

.navegacao-manual .manual-btn:hover {
    background-color: blue;
}

#radio1:checked ~ .navegacao-auto .auto-btn1, #radio2:checked ~ .navegacao-auto .auto-btn2, #radio3:checked ~ .navegacao-auto .auto-btn3 {
    background-color: black;
}

#radio1:checked ~ .primeiro {
    margin-left: 0%;
}

#radio2:checked ~ .primeiro {
    margin-left: -25%;
}

#radio3:checked ~ .primeiro {
    margin-left: -50%;
}
 
