body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(to bottom, #8B00F9, #420077);
}

header {
 position: sticky;
 left: 0;
 right: 0;
 top: 0;
 background: transparent;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(95, 0, 169, 0.5);
    width: 75vw;
    /* height: 7vh; */
    list-style: none;
    align-items: center;
    margin: 30px auto;
    border-radius: 10px;
    backdrop-filter: blur(100px) saturate(100%);
}

.listicon a {
  color:  #fff;
  font-size: 20px;
  height: 100%;
  padding: 15px 20px;
  display: block;
  transform: rotate(0deg) scale(1);
  transition: all 0.3s ease-in-out;
}

.listicon a:hover{
  /* background-color: rgba(66, 0, 119, 0.3); */
  transform: rotate(360deg) scale(1.3);
}

.listicon button {
  background-color: none;
  border: none;
}

.btn {
  background: none;
  cursor: pointer;
  color: #fff;
  border-style: none;
  font-size: 20px;
}

nav {
  margin: 25px 0px;
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .navigation {
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);
  }
}
/* aqui acaba a navbar */

main {
  width: calc(75vw + 40px);
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.filter {
  width: 100%;
  height: fit-content;
  padding: 7px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 5px;
}

label {
  font-weight: 500;
}

form {
width: 100%;
height: fit-content;
padding: 7px 0px;
}

.questionBox {
  resize: none;
  width: calc(100% - 30px);
  height: 120px;
  display: block;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: medium;
  background-color: white;
  padding: 7px 15px;
}
.answers {
  width: 100%;
  height: fit-content;
  display: flex; 
  justify-content: center;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: medium;
  padding: 5px;
  align-items: center;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
  row-gap: 7px;
}

.answerbox{
  Background-color: white;
  width: 100%;
  border-radius: 5px;
  min-height: 50px;
  border: 2px solid white;
  }

  .answerbox:nth-child(2) {
    border: 2px solid lime;
  }

  .answerbox h5 {
    margin-left: 20px;
  }


.filter {
  width: 100%;
  height: fit-content;
  padding: 7px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 5px;
}

label {
  font-weight: 500;
}

form {
width: 100%;
height: fit-content;
padding: 7px 0px;
}

.questionBox {
  resize: none;
  width: calc(100% - 30px);
  height: 120px;
  display: block;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: medium;
  background-color: white;
  padding: 7px 15px;
}
.answers {
  width: 100%;
  height: fit-content;
  display: flex; 
  justify-content: center;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: medium;
  padding: 0px 5px;
  align-items: center;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
  row-gap: 7px;
}

.answerbox{
  Background-color: white;
  width: 100%;
  border-radius: 5px;
  min-height: 35px;
  border: 2px solid white;
  height: 50px;
  display: flex;
  align-items: center;
  }

  .answerbox:nth-child(2) {
    border: 2px solid lime;
  }

  .answerbox h5 {
    margin-left: 20px;
    display: block;
  }

  .buttonsContainers {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
  }

  .wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 0px;
  }
  .buttonsContainers button {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 30px;
    color: #75E7A9;
    padding: 0px;
    height: min-content;
  }

.progress-container{
    display: flex;
    width: 100%;
    height: auto;
  }

.progress-container .progress{
  width: 100%;
  height: 5px;
  background-color: #75E7A9;
  padding: 2px 0px;
  flex: 1;
  margin: 0 1px
}

