
body {

  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(to bottom, #8B00F9, #420077);
}

header {
 position: sticky;
 left: 0;
 right: 0;
 top: 0;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #5F00A9;
    width: 75vw;
    height: 7vh;
    list-style: none;
    align-items: center;
    margin: 30px auto;
    border-radius: 10px;
}

.listicon a {
  color:  #fff;
}

.listicon button {
  background-color: none;
  border: none;
}

.btn {
  background: none;
  cursor: pointer;
  color: #fff;
  border-style: none;
}

nav {
  margin: 25px 0px;
}


teste git