.body {
    display: block;
    text-align: center;
    background: linear-gradient(to bottom, #8B00F9, #420077);
    font-family: Arial, Helvetica, sans-serif;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(95, 0, 169, 0.5);
    width: 75vw;
    list-style: none;
    align-items: center;
    margin: 10px auto;
    border-radius: 10px;
    backdrop-filter: blur(100px) saturate(100%);
}

.listicon a {
    display: flex;
    color: #fff;
    font-size: 20px;
    height: 100%;
    padding: 15px 20px;
    transform: rotate(0deg) scale(1);
    transition: all 0.3s ease-in-out;
}

.titulo {
    display: flex;
    justify-content: center;
    color: white;

}

.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    margin: 10px 5px 0 5px;
    padding: 5px;
    font-size: 14px;
}

.alinhar {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 5px;
    justify-content: space-around;
}

.alinhar-filtro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 0;
    flex-direction: row;
    color: whitesmoke;
    flex-wrap: nowrap;
    margin: 0;
}

.label-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.data {
    color: white;
    display: flex;
    align-items: center;
}

.grafico-alinhamento {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 40px;
    justify-content: space-evenly;
}

.grafico {
    width: 400px;
    height: 400px;
}

canvas {
    display: flex;
    border: 3px solid #ccc;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
    border-radius: 15px;
}
