:root {
  --fundo: linear-gradient(to bottom, #8B00F9, #420077);
  --elementos: rgba(95, 0, 169, 0.5);
  --icone-texto: #fff;
  --icone-texto2: rgba(255, 255, 255, 0.8);
  --question-box: #fff;
  --border: #fff;
  --progress-bar: #4caf50;
  --text: black;
}

.dark-mode {
  --fundo: #1a1a1a;
  --elementos: #252525;
  --icone-texto: #fff;
  --icone-texto2: rgba(255, 255, 255, 0.8);
  --question-box: #252525;
  --border: #8F00FF;
  --progress-bar: #8F00FF;
  --text: rgb(222, 222, 222);
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    background: var(--fundo);
  }
  
  header {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    background: transparent;
  }
  
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--elementos);
    width: 75vw;
    /* height: 7vh; */
    list-style: none;
    align-items: center;
    margin: 30px auto;
    border-radius: 10px;
    backdrop-filter: blur(100px) saturate(100%);
  }
  
  .listicon a {
    color: #fff;
    font-size: 20px;
    height: 100%;
    padding: 15px 20px;
    display: block;
    transform: rotate(0deg) scale(1);
    transition: all 0.3s ease-in-out;
  }
  
  .listicon a:hover {
    /* background-color: rgba(66, 0, 119, 0.3); */
    transform: rotate(360deg) scale(1.3);
  }
  
  .listicon button {
    background-color: none;
    border: none;
  }
  
  .btn {
    background: none;
    cursor: pointer;
    color: #fff;
    border-style: none;
    font-size: 20px;
  }
  
  nav {
    margin: 25px 0px;
  }
  
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .navigation {
      -webkit-backdrop-filter: blur(2em);
      backdrop-filter: blur(2em);
    }
  }

.container{
    font-family: "Trebuchet MS", sans-serif;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.column{
    flex-basis: 13%;
    background: var(--question-box);
    border: 1.5px solid var(--elementos);
    min-height: 70vh;
    padding: 20px;
    border-radius: 10px;
    color: var(--text);

}
.column h1{
    text-align: center;
    font-size: 22px;
}
.item{
    background: #fafafa;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--fundo);
    border: 1px solid #e5e5e5;
    box-shadow: 1px 1px 6px rgba(105, 38, 137, 0.7);
} 
.invisible{
    display: none;
}

.column-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
}